<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <!-- <link rel="stylesheet" href="/style.css"> -->
  </head>
  <body>
    <div class="container">
      <form id="publishForm">
        <input type="text" id="topic" placeholder="Topic" />
        <input type="text" id="message" placeholder="Message" />
        <button type="submit">Submit</button>
      </form>
      
      <p>Data Dari Timbangan: <span id="dataSensor1"></span></p>
      <p>Data Dari Potentiometer: <span id="dataSensor2"></span></p>


<br>
<br><br>
      <p>#IoT itu mudah bukann?</p>
      <footer>#Inspired by @KelasIoT</footer>
    </div>
    <script src="/script.js"></script>
  </body>
</html>
